@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --background-rgb: 20, 10, 30;
  --main-rgb: 120, 25, 150;
  --highlight-rgb: 200, 100, 240;
}

html,
body {
  height: 100%;
}

html * {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

header {
  background-color: rgba(var(--main-rgb), 0.15)
}